<h2>Detalhes do Produto</h2>

<p><strong>ID:</strong> <%= produto.id %></p>
<p><strong>Nome:</strong> <%= produto.nome %></p>
<p><strong>Preço:</strong> R$ <%= produto.preco %></p>
<p><strong>Quantidade:</strong> R$ <%= produto.quantidade %></p>
<a href="/produtos">Voltar</a>
